.subscription-form .form-field {
    width: 381px;
    max-width: 100%;
}

.subscribe-form-content {
    margin-right: 165px;
    line-height: 46px;
}

.form-field::placeholder {
    color: $primary;
    opacity: 1;
}


.footer {
    padding-top: 146px;
}

.social-icon {
    width: 37px;
    height: 37px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.footer-link {
    color: $body-color;
    text-decoration: none;
    font-weight: 600;
}

.footer-link:hover {
    color: $primary;
    text-decoration: underline;
}

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary;
    color: #ffffff;
    font-size: 0.825rem;
}


.fs-48 {
    font-size: 3rem;
}

.quick-link {
    padding-left: 50px;
    column-gap: 65px;
}

.gap-12 {
    gap: 12px;
}

.fs-14 {
    font-size: 14px;
}

.footer-top {
    margin-bottom: -86px;
}

.bg-gradient-soft-blue {
    background: linear-gradient(180deg, rgba(70, 145, 242, 0.1) 0%, rgba(70, 145, 242, 0) 100%);
}




@media (max-width: 1200px) {
    .subscribe-form-content {
        margin-right: 100px;
    }

    .subscription-form .form-field {
        width: 300px;
        max-width: 100%;
    }
}

@media(max-width: 992px) {
    .quick-link {
        padding-left: 12px;
    }

    .subscribe-form-content {
        margin-right: 0px;
    }

    .footer {
        padding-top: 120px;
    }

    .subscription-form .form-field {
        width: 200px;
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
  .subscription-form .custom {
    flex-direction: column;
    gap: 1rem;
  }

  .subscription-form .form-field,
  .subscription-form button {
    width: 100%;
  }
}

@media(max-width: 575px) {
    .subscribe-form-content {
        font-size: 1.4rem !important;
        line-height: 2rem !important;

    }

    .footer {
        padding-top: 110px;
    }

}