.ps-70 {
    padding-left: 70px;
}

.testimonials h5 {
    color: #202020;
}


.testimonial-btn {
    margin-top: 145px;
}

@media(max-width: 1199.98px) {
    .testimonial-btn {
        margin: auto;
        display: flex;

    }
}


@media(max-width: 575.98px) {
    .testimonials .row > div:first-child {
        flex-direction: column !important;
        align-items: center !important;
    }

    .testimonials img {
        width: 100%;
        max-width: 250px;
        height: 200px;
        object-fit: cover;
        
    }
}