.venue-booking-form {
  margin-top: 150px;
}


.venue-booking-form .form-field {
  width: 273px;
  height: 52px;
}

.search-btn {
  width: 150px;
  height: 52px;
}

.booking-form::placeholder {
  color: #171717;
  opacity: 1;
}

.border-primary-30 {
  border: 1px solid rgba(70, 145, 242, 0.3);
}


@media(max-width: 1199.98px) {
  .venue-booking-form .form-field {
    width: 200px;
    height: 52px;
  }

  .search-btn {
    width: 150px;
    height: 52px;
  }

  .venue-booking-form {
    margin-top: 300px;
  }
}

@media(max-width: 991.98px) {
  .venue-booking-form .form-field {
    width: 200px;
    height: 52px;
  }

  .search-btn {
    width: 200px;
    height: 52px;
  }

  .venue-booking-form {
    margin-top: 150px;
  }
}



@media (max-width: 768px) {
  .venue-booking-form form {
    flex-direction: column;
    gap: 1rem;
  }

  .venue-booking-form .form-field,
  .search-btn {
    width: 100%;
  }

  .venue-booking-form {
    margin-top: 0px;
  }
}


@media (max-width: 574.98px) {
  .venue-booking-form {
    margin-top: 40px;
  }
}



.line-vector {
  position: relative;
  overflow: visible;
}

.line-vector::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -100px;
  width: 200px;
  height: 800px;
  background: linear-gradient(180deg, #4691F2 0%, rgba(70, 145, 242, 0) 100%);
  transform: rotate(-45deg);
  z-index: 0;

}


@media (max-width: 1399.98px) {
  .line-vector::before {
    top: -225px;
    left: -80px;

  }
}

@media (max-width: 1199.98px) {
  .line-vector::before {
    top: -65px;
    left: -60px;
    width: 150px;
  }
}

@media (max-width: 991.98px) {
  .line-vector::before {
    top: 450px;
    left: -40px;
    width: 125px;
  }
}

@media(max-width: 767.98px) {
  .line-vector::before {
    display: none;
  }
}

